*
{
    margin:0;
    padding:0;
}
header {
        background-image: url(pexels-poodles-doodles-1458916.jpg);
        height:100vh;
        background-size: cover;
        background-position: center;
}
.nav-menu{
    float:right;
    list-style:none;
    margin-top:40px;
}
.nav-menu li{
    display:nline-block;

}
.nav-menu li a{
    color:sienna;
    text-decoration; none;
    padding:5px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 25px;
}